<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
       >

        <!--工作的Bean -->
        <bean id="job1" class="com.chen.quartz.JobDemo_1">
        </bean>

        <!-- jobDetail -->
        <bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
                <property name="targetObject" ref="job1"/>
                <property name="targetMethod">
                        <value>startJob</value>
                </property>
        </bean>

        <!-- 表达式-->
        <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
                <property name="jobDetail" ref="jobDetail"/>
                <property name="cronExpression" value="0/5 * * * * ?"/>
        </bean>

        <bean id="startQuertz" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
                <property name="triggers">
                       <list>
                               <ref bean="cronTrigger"/>
                       </list>
                </property>
        </bean>


</beans>